


:root{
    
    --MAIN-TEXT-color: #323232;
    --MAIN-TITLES-TEXT-color: #5e5e5e;
    --MAIN-LINK-color: #9a7d3e;
    --MAIN-LINK-HOVER-color: #6d552c;
    --MAIN-ANCHOR-color: #9a7a3e;
    --MENU-HEADER-BG-color: #f19f0b;
    --MENU-HEADER-BORDER-color: #d4b484;
    --MENU-SEARCH-BG-color: #9a793e;
    --MENU-SEARCH-BOX-color: #c7a367;
    --MENU-SEARCH-BOX-ICONS-color: #f7e5c4;
    --MENU-SECTIONS-ACTIVE-BG-color: #1b211c;
    --MENU-SECTIONS-BG-color: #222723;
    --MENU-SECTIONS-LINK-color: #ccc;
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;
    --MENU-SECTION-ACTIVE-CATEGORY-color: #777;
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff;
    --MENU-VISITED-color: #9a783e;
    --MENU-SECTION-HR-color: #18211c;
    
}

body {
    color: var(--MAIN-TEXT-color) !important;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

