{{ $path := .Get 0 }}
{{ $trimmed := trim $path "/"}}
{{ $elements := split $path "/" }}
{{ $first := index ($elements) 0 }}

<a href="/{{ $trimmed }}">
  {{ $first | upper }}:
  {{ with .Site.GetPage "home" $trimmed}}

  {{ if not .Params.Ready }}
  [TODO]
  {{ end }}
  ({{ $trimmed }})
  {{ .Params.Title }}

  {{ end }}
</a>

<ul>
  <li>{{ with .Site.GetPage "home" $trimmed}}{{ .Params.Title }}{{ end }}</li>
  <li>{{ with .Site.GetPage "" $trimmed}}{{ .Params.Title }}{{ end }}</li>
  <li>{{ with .Site.GetPage "/" $trimmed}}{{ .Params.Title }}{{ end }}</li>
  <li>{{ with .Site.GetPage $path }}{{ .Params.Title }}{{ end }}</li>
</ul>
